img {
    width: 100%;
}
body {
    background-color: grey;
}
#one-img, #two-img, #tree-img {

    width: 20%;
    margin: 5%;
    border-radius: 75% ;
    border: 15px solid rgb(65, 65, 65);
    margin-top: 50px;
    margin-bottom: 50px;

}

#one-img {
    margin-left: 130px;

}
#two-img {
    margin-left: 45px;

}
#tree-img {
    margin-left: 45px;}
