#content { 
    max-width:1600px;
     margin: 0 auto;
} 
.circle { 
    max-width: 400px;
    
} 


img { text-align: center;
    margin: 20px;
} 


body { 
    margin: 0} 

header{ width: 100px;
     } 

