#grid_complete { 
    display: grid;
    grid-template-columns: 1f 1f 1f;
    grid-template-rows: 1f 1f 1f 1f 1f 1f;
    border-radius: 5%;
    background-color: pink;}
#body {
    


}    

.img { 
    grid-column: 2/3;
    grid-row: 1/3;
    width: 100%;
    border-radius: 8%;
    text-align: center;
}
    
